/*--Fonts--*/
.font-fantasy {
  font-family: fantasy !important;
}
:root {
  --btn-primary: #0f0d0d;
  --bg-blue: #1d809f;
  --color-main: #f2e7df;
  --color-dark: #000000;
}
/*--Classes from Root Start--*/
.color-main {
  background-color: var(--color-main);
}
.text-color-main {
  color: var(--color-main);
}
.color-dark {
  color: var(--color-dark);
}
.bg-blue {
  background-color: var(--bg-blue);
}
/*--Classes from Root End--*/
/*--Global Class Start--*/
.heading-small {
  font-size: 1rem;
}
.button-style {
  font-family: "Anton" !important;
}
.btn-xl {
  padding: 1.25rem 2.5rem !important;
  font-weight: 700 !important;
}
h1,
h2,
h3,
h4 {
  font-weight: 700 !important;
}
/*--Global Class End--*/

/*-----Hero Section Style Start-----*/
.front-sec {
  width: 100%;
  height: 95vh;
  background-color: var(--bg-blue);
  z-index: 99;
}
.front-sec img {
  width: 100%;
  height: 100%;
  filter: brightness(0.4);
}
.front-sec > section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(222, 231, 229);
  font-family: "Roboto", sans-serif;
}
/*-----Content Section Style End-----*/
.content-section {
  padding: 7.5rem 0;
}
/*-----Content Section Style Start-----*/
/*-----Service Section Style Start-----*/
i {
  font-size: 2rem;
  color: #1d809f;
}
.service-icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
/*-----Service Section Style End-----*/
